🚨 ALERTE CRITIQUE RANSOMWARE 🚨

Le domaine {{ domain }} a été détecté sur un portail d'extorsion.
Groupe : {{ alert.group_display_name }}
Date : {{ alert.discovered_at.strftime('%Y-%m-%d') if alert.discovered_at else 'Inconnue' }}
Volume revendiqué : {{ alert.claim_size or 'Inconnu' }}

Actions immédiates requises :
{% for action in alert.recommended_actions %}
- {{ action }}
{% endfor %}

Consultez le rapport complet pour plus de détails.
